body {
  background-color: #333333;
  padding: 0;
  margin: 0;
}

#navbar {
  display:table;
  margin: 4vh auto;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  position: sticky;
  top: 20px;
}

#navbar li{
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  padding-top: 20px;
  text-decoration: none;
}

.header h2, h1{
  text-align:center;
  color:#3d3d3d;
  background-color: #cccccc;
}

.header {
  /*Background*/
  background-image: url(background.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  height: 90vh;
  display: flex;

  /*Centering */
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

#content-container {
  color:whitesmoke;
}

